.hydra-logo {
  margin-left: 35%
}


@media screen and (max-width: 970px) {
  .hydra-logo {
    height: 350px;
    margin-left: 25%
  }
}

@media screen and (max-width: 600px) {
  .hydra-logo {
    height: 300px;
    margin-left: 10%
  }
}