@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $primaryBlack;
}

button {
  @include button-style
}

@media screen and (max-width: 455px) {
  button {
    font-size: 1em;
  }
  .nav-bar {
    padding: 5px;
  }
}
