@import '../../Styles/variables.scss';

.mounts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  background-color: $primaryBlack;
}

.no-mounts-message {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.no-mounts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.moogle {
  height: 300px;
}

@media screen and (max-width: 455px) {
  .mounts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

@media screen and (max-width: 1275px) {
  .mounts-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }
}

@media screen and (max-width: 1000px) {
  .mounts-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}

@media screen and (max-width: 850px) {
  .mounts-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}

@media screen and (max-width: 550px) {
  .mounts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}
